<h1>お問い合わせページ</h1>
<%= notice %>
<%= form_with(model: @question, local: true ) do |form| %>
<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= @question.errors.count %>件のエラーがあります。</h2>
    </div>
  <% end %>


  <div class="blog_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="blog_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>